.Container{
    position:relative;
    width: 1200px;
    height: 400px;
    margin-top:200px;
    margin-right:auto;
    margin-left:auto;
}
.Google1{
    position:absolute;
    top:60px;
    left:100px;
}
#G {
    position: relative;
    display: inline-block;
	
}
#G img {
    transition: opacity 1.5s ease-in-out;
}

#G img.Gback {
    z-index:-1;
    opacity:0;
    position:absolute;
    left:0;
}

#G:hover img.Gfront {
    opacity:0;
}

#G:hover img.Gback {
    opacity:1;
}
.Google2{
    position:relative;
    top:60px;
    left:250px;
}
#O {
    position: relative;
    display: inline-block;
	
}
#O img {
    transition: opacity 1.5s ease-in-out;
}

#O img.Oback {
    z-index:-1;
    opacity:0;
    position:absolute;
    left:0;
}

#O:hover img.Ofront {
    opacity:0;
}

#O:hover img.Oback {
    opacity:1;
}
.Google3{
    position:absolute;
    top:60px;
    left:400px;
}
#O2 {
    position: relative;
    display: inline-block;
    
}
#O2 img {
    transition: opacity 1.5s ease-in-out;
}

#O2 img.O2back {
    z-index:-1;
    opacity:0;
    position:absolute;
    left:0;
}

#O2:hover img.O2front {
    opacity:0;
}

#O2:hover img.O2back {
    opacity:1;
}
.Google4{
    position:absolute;
    top:60px;
    left:550px;
}
#G2 {
    position: relative;
    display: inline-block;
    
}
#G2 img {
    transition: opacity 1.5s ease-in-out;
}

#G2 img.G2back {
    z-index:-1;
    opacity:0;
    position:absolute;
    left:0;
}

#G2:hover img.G2front {
    opacity:0;
}

#G2:hover img.G2back {
    opacity:1;
}
.Google5{
    position:absolute;
    top:60px;
    left:700px;
}
#L {
    position: relative;
    display: inline-block;
    
}
#L img {
    transition: opacity 1.5s ease-in-out;
}

#L img.Lback {
    z-index:-1;
    opacity:0;
    position:absolute;
    left:0;
}

#L:hover img.Lfront {
    opacity:0;
}

#L:hover img.Lback {
    opacity:1;
}
.Google6{
    position:absolute;
    top:60px;
    left:850px;
}
#E {
    position: relative;
    display: inline-block;
    
}
#E img {
    transition: opacity 1.5s ease-in-out;
}

#E img.Eback {
    z-index:-1;
    opacity:0;
    position:absolute;
    left:0;
}

#E:hover img.Efront {
    opacity:0;
}

#E:hover img.Eback {
    opacity:1;
}